<h1>{{a}}</h1>
<button (click)="jinal()" >Click Me</button>
<input type="text" [value]="a" >
<button [disabled]="flag" >Demo Button</button>
<hr>
<input #input1  type="text">
<input #input2  type="text">
<button (click)="onAddClick(input1.value,input2.value)" >Add</button>
<h1>your ans is {{res}}</h1>
<input type="text" appCreaditcard >
<p appHighlighter [highlightColor]="'blue'" >Hello world</p>
<button (click)="onNavigate()">Navigate to add task</button>
<button (click)="onNavigate1()"> Navigate to Details </button>